[submodule "cairo_lib"]
	url = https://github.com/aspectco/cairo-lib
	path = lib/cairo_lib
[submodule "cairo_contracts"]
	url = https://github.com/OpenZeppelin/cairo-contracts
	path = lib/cairo_contracts
	branch = refs/heads/v0.2.1
